
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem;
  background-color: #ffffff; 
  border-bottom: 1px solid #e5e7eb; 
}


.filter {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}


.sort {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}


.button {
  color: #4b5563; 
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  display: inline-block;
  font-size: 1rem; 
  padding: 0.5rem 1rem;
}

.button:hover {
  color: #2563eb; 
}


.button.showFilter::after {
  content: 'Show Filter'; 
}


.button.hideFilter::after {
  content: 'Hide Filter'; 
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    align-items: stretch; 
  }


  .filter,
  .sort {
    width: 100%; 
    justify-content: center; 
  }


  .button {
    font-size: 1.1rem; 
    padding: 0.5rem 1rem; 
  }
}