
.sidebar {
  width: 16rem; 
  padding: 0.5rem;
  border-right: 1px solid #e5e7eb; 
  display: block;
  text-transform: uppercase; 
}

/* Filter Section */
.filterSection {
  margin-bottom: 0.5rem;
}

.filterTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #1f2937; 
}

.select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: none; 
  border-bottom: 2px solid #d1d5db; 
  background-color: transparent; 
  transition: border-color 0.3s ease;
}

.select:focus {
  border-bottom-color: #2563eb; 
}


@media (max-width: 768px) {
  .sidebar {
    display: block; 
    width: 100%; 
  }
}